absl-py==0.7.0
aniso8601==1.2.0
asn1crypto==0.24.0
astor==0.7.1
backports.weakref==1.0.post1
bleach==1.5.0
cffi==1.12.1
Click==7.0
colorama==0.3.9
cryptography==2.5
enum34==1.1.6
Flask==1.0.2
Flask-Ask==0.9.8
Flask-Cors==3.0.7
funcsigs==1.0.2
futures==3.2.0
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
html5lib==0.9999999
idna==2.8
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.0.1
MarkupSafe==1.1.1
mock==2.0.0
nltk==3.2.5
numpy==1.16.1
pbr==5.1.2
protobuf==3.6.1
pycparser==2.19
pycrypto==2.6.1
pygobject==3.26.1
pyOpenSSL==19.0.0
python-dateutil==2.8.0
pyxdg==0.25
PyYAML==3.13
scipy==1.2.1
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-gpu==1.4.1
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
tqdm==4.19.5
Werkzeug==0.14.1
